
/* EFFETTI HOVER  */

/* Effetti Menu */

.iconcine:hover {
	color: white;
	cursor: pointer;
	border-left: greenyellow solid 2px;
}

.playlist li:hover{
    color: white;
    cursor: pointer;
}

.crea span:hover{
    color: white;
    cursor: pointer;
}

.account a:hover{
    color: white
    ;
}

.account span:hover{
    cursor: pointer;
}

/* Effetti Main */

.effettuaupgrade a:hover{
    width: 25%;
    height: 48px;
    padding-top: 14px;
}

#main nav a:hover{
    color: white;
    border-bottom: greenyellow 2px solid;
}

.album img:hover{
    filter: opacity(0.4);
}

.album:hover .play{
    display: inline-block;
}


/* Effetti Player */


.infobrano i:hover{
    color: white;
}

.comandi .fa-circle-play:hover{
    font-size: 20px;
    color: white;
}

.revelator i:hover{
    font-size: 16px;
    bottom: 7px;
}

#player .comandi .volume div:hover{
    cursor: pointer;
}

.infobrano span:hover{
    color: white;
    cursor: pointer;

}.volume .revelator{
    cursor: pointer;
}

.revelator:hover{
    background-color: greenyellow;
}

.revelator i:hover{
    display: inline;
}

 

